doctype xml
document
  head
  catalogTemplate
    banner
      title Store Catalog
    list
      section
        header
          title Section Header
        listItemLockup
          title Title 1
          decorationLabel 6
          relatedContent
            grid
              section
                | `
                gridSectionLockup(responseText, this)
                | `
