doctype xml
document
  head
    :style
      .showTextOnHighlight {
        tv-text-highlight-style: show-on-highlight;
      }
      .overlayTextLayout {
        tv-position: top;
      }
      .centeredText {
        text-align: center;
      }
  descriptiveAlertTemplate
    title Title
    shelf
      section
        each val in [1, 2, 3, 4]
          lockup
            img(src="#{baseUrl}/resources/images/music/music_#{val}.lcr" width="450" height="450")
            title.showTextOnHighlight Title #{val}
        lockup
          img(src="#{baseUrl}/resources/images/iceland/iceland_19.jpg" width="752" height="450")
          title.showTextOnHighlight Title 5
          overlay
            title.overlayTextLayout Title
            text.overlayTextLayout Text 1
            text.overlayTextLayout Text 2
            text.centeredText Centered Text
    button: text Button 1
    button: text Button 2
