doctype xml
document
  alertTemplate
    title Confirmation
    description 
      | Tom will be borrowing your TV Developer Kit until 2016
    button: text Ok, it's cool
    button: text No way bro
