doctype xml
document
  formTemplate
    banner
      title Purchase the #{dynamicContent.product.title}
      img(src= dynamicContent.product.heroImg)
    textField Credit Card Number
    footer
      button: text Buy for #{dynamicContent.product.price}
