doctype xml
document
  head
    :style
      .whiteText {
        color: rgb(255, 255, 255);
      }
  catalogTemplate
    banner: title Store Catalog
    list
      section
        header: title Section Header
        listItemLockup
          title Title 1
          decorationLabel= dynamicContent.things.length
          relatedContent
            grid
              section
                each thing in dynamicContent.things
                  lockup(template="#{baseUrl}/templates/ShowProduct.xml.js?handle=#{thing.handle}")
                    img(src= thing.thumbnail width="308" height="308")
                    title.whiteText= thing.title
