doctype xml
document
  head
    :style
      .whiteText {
        color: rgb(0, 0, 0);
      }
  catalogTemplate
    banner
      title Store Catalog
    list
      section
        header
          title Section Header
        listItemLockup
          title Title 1
          decorationLabel 6
          relatedContent
            grid
              section
                lockup
                  each thing in things
                    img(src="#{baseUrl}/resources/images/lolz/pug.png" width="308" height="308")
                    title.whiteText FUCK YEAH PUG!
