doctype xml
document
  mainTemplate
    background
      each val in [1, 2, 3, 4]
        img(src="#{baseUrl}/resources/images/italy/italy_#{val}.jpg")
      audio
        asset#main_audio(src="#{baseUrl}/resources/audio/Building_Blocks.mp3" keyDelivery="itunes")
    menuBar
      section
        menuItem: title Tab 1
        menuItem: title Tab 2
        menuItem: title Tab 3
