doctype xml
document
  menuBarTemplate
    menuBar
      menuItem(template="#{baseUrl}/templates/Parade.xml.js" presentation="menuBarItemPresenter"): title Tab 1
      menuItem(template="#{baseUrl}/templates/Catalog.xml.js" presentation="menuBarItemPresenter"): title Tab 2
