doctype xml
document
  head
    :style
      .showTextOnHighlight {
        tv-labels-state: show-on-highlight;
      }
      @media -tv-template and (-tv-uber) {
        .darkBackgroundColor {
          background-color: rgb(4, 27, 97);
        }
      }

  stackTemplate.darkBackgroundColor(theme="dark")
    banner
      background: img(src="#{baseUrl}/resources/images/iceland/iceland_wide.jpg" width="1920" height="360")
      description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    collectionList
      shelf
        header: title Shelf title
        section
          each val in [1, 2, 3, 4, 5, 6, 7]
            lockup
              img(src="#{baseUrl}/resources/images/music/music_#{val}.lcr" width="308" height="308")
              title.showTextOnHighlight Title #{val}
